@font-face {
	font-family: "qs";
	src: url("../fonts/Quicksand-VariableFont_wght.ttf");
}
:root {
	--font-family: "qs";
	--secondary-clr: #f5f5dc8a;
	--smRadius: 5px;
	--mdRadius: 10px;
	--lgRadius: 1rem;
	--rounded-oval: 100vw;
	--rounded: 50%;
	--all-transition: 120ms ease;
	--link-button-transition: 285ms ease;
	--black: #000;
	--white: #fff;
	--dark-blue: #192340;
	--dark-blue-opacity: rgb(25, 35, 64, 0.5);
	--light-border: 1.2px solid var(--white);
	--md-border: 1.3px solid var(--dark-blue);
	--primary-clr: #101935;
	--gray: #d9d1d136;
	--red: #bf211e;
	--yellow: #a79006;
}
html {
	font-size: 15px;
	scroll-behavior: smooth;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: var(--font-family);
	-webkit-transition: var(--all-transition);
	-moz-transition: var(--all-transition);
	-ms-transition: var(--all-transition);
	-o-transition: var(--all-transition);
	transition: var(--all-transition);
}
:is(h1, h2, h3, h4, h5, h6, p, span) {
	font-weight: normal;
	margin: 0;
	color: var(--dark-blue);
}
:is(ul, li) {
	padding: 0;
	margin: 0;
	list-style: none;
	list-style-type: none;
}
:is(a, button) {
	-webkit-transition: var(--link-button-transition);
	-moz-transition: var(--link-button-transition);
	-ms-transition: var(--link-button-transition);
	-o-transition: var(--link-button-transition);
	transition: var(--link-button-transition);
	font-size: 0.9rem;
	text-decoration: none;
	outline: none;
}
body {
	background-color: #f4f2f200;
}
.title-container {
	margin-top: 4rem;
}
.title-container .title {
	font-weight: 700;
}
.title-container small {
	font-weight: 600;
	color: var(--primary-clr);
}
.form-container section {
	padding: 2rem 0 0.5rem;
	overflow: hidden;
}
.section-title .title {
	font-weight: 600;
}
section .section-title .title-small-text {
	font-weight: 500;
	margin-top: 10px;
}
.form-container section .section-inner {
	margin-top: 2rem;
}
.form-container .section-inner .row {
	row-gap: 1rem;
}
.form-container .user-personal-info .form-input .form-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.form-container .form-input .form-label {
	margin-bottom: 7px;
	line-height: 1;
	font-weight: 600;
	color: var(--dark-blue);
	font-size: 0.9rem;
}
.form-container .form-input .form-title .optional {
	font-size: 0.85rem;
	font-weight: 600;
	line-height: 1;
	color: #2d2d2d59;
}
.form-container section .form-input .form-control {
	min-height: 3.2rem;
	font-weight: 500;
}
.form-container section .form-input .form-control:focus {
	border: 1.5px solid var(--dark-blue);
	/* box-shadow: 0 0 0 0.25rem var(--dark-blue-opacity); */
	box-shadow: none;
}
.form-container section .form-input .form-control::placeholder {
	font-size: 0.88rem;
}
.form-container .form-input .sub-text {
	display: flex;
	flex-direction: column;
	margin-top: 4px;
}
.form-container .form-input :is(.sub-text .error, .error) {
	color: var(--red);
	font-weight: 500;
}
.form-container .form-input .sub-text small {
	line-height: 1.3;
	font-weight: 500;
}
.form-input .sub-text .little-info {
	opacity: 0;
	font-size: 0.8rem;
	visibility: hidden;
	transition: 300ms ease-in-out;
	transition-delay: 300ms;
	transform: translateY(20px);
	color: var(--yellow);
}
.form-input:has(.form-control:focus) .little-info {
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
	font-weight: 500;
}

/* social media section */
.social-media-info .form-input .form-title {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 5px;
}
.social-media-info .form-title .image-container {
	aspect-ratio: 1 / 1;
	width: 22px;
}
.social-media-info .form-input .form-title .form-label {
	margin: 0;
	font-size: 1rem;
}
.position-held .form-check .form-check-label {
	font-size: 0.95rem;
}
[position] {
	display: none;
}

/* document-image */
:is(.document-image, .entrepreneur-container .brand-images, .dev-and-designers) > .row {
	row-gap: 2rem;
}
:is(.document-image, .entrepreneur-container .brand-images, .dev-and-designers) .image-container {
	border: 2px dashed var(--dark-blue);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	border-radius: var(--mdRadius);
	padding: 2rem;
}
:is(.document-image, .entrepreneur-container .brand-images, .dev-and-designers) .image-container > svg {
	width: 100px;
	height: 100px;
	opacity: 0.5;
	color: var(--dark-blue);
}
:is(.document-image, .entrepreneur-container .brand-images, .dev-and-designers) .image-add-toggler {
	border: none;
	background-color: var(--dark-blue);
	display: flex;
	align-items: center;
	gap: 4px;
	color: var(--white);
	padding: 12px 2rem;
	border-radius: var(--mdRadius);
}
:is(.document-image, .entrepreneur-container .brand-images, .dev-and-designers) .image-add-toggler svg {
	width: 25px;
	height: 25px;
}
:is(.document-image, .entrepreneur-container .brand-images, .dev-and-designers) .image-add-toggler span {
	color: var(--white);
	padding: 5px;
}

/* position selected */
.dev-stacks-select-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2.5rem 2rem;
}
@media all and (min-width: 768px) {
	.dev-stacks-select-container {
		grid-template-columns: repeat(4, 1fr);
	}
}
.dev-stacks-select-container .form-input {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.7rem;
}
.dev-stacks-select-container .form-input img {
	max-width: 45px;
}
.dev-stacks-select-container .form-check-input {
	width: 1.4rem;
	height: 1.4rem;
}
.form-check-input:checked[type="checkbox"] {
	background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="256" height="256" viewBox="0 0 256 256"%3E%3Cpath fill="white" d="M104 196a12.2 12.2 0 0 1-8.5-3.5l-56-56a12 12 0 0 1 17-17L104 167L207.5 63.5a12 12 0 0 1 17 17l-112 112a12.2 12.2 0 0 1-8.5 3.5Z"%2F%3E%3C%2Fsvg%3E');
}
.form-check-input {
	cursor: pointer;
}
.form-check-input:checked {
	background-color: var(--dark-blue);
	border-color: var(--dark-blue);
}
.form-check-input:focus {
	border-color: var(--dark-blue);
	outline: 0;
	box-shadow: 0 0 0 0.25rem var(--dark-blue-opacity);
}
.students .form-input .info {
	font-weight: 500;
}
textarea.form-control {
	min-height: 8rem !important;
}
textarea.form-control::placeholder {
	font-size: 0.88rem;
}
.dev-position .dropdown_trigger {
	padding: 0.5rem;
	border: 2px solid var(--dark-blue);
	border-radius: var(--mdRadius);
	width: 100%;
	background-color: transparent;
}
.dev-position .screen + .dropdown_icon {
	border: none;
	background-color: transparent;
}
.dev-position .screen + .dropdown_icon svg {
	width: 30px;
	height: 30px;
	color: var(--dark-blue);
}
.dev-position .dropdown_trigger .screen-text {
	font-weight: 600;
}

.dev-position .dropdown-container {
	background-color: var(--white);
	border-radius: var(--mdRadius);
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	top: 100%;
	transition: 300ms ease-in-out;
	left: 0;
	right: 0;
	transform: translateY(40px);
	padding: 0.5rem;
	z-index: 10;
	opacity: 0;
	visibility: hidden;
}
.dev-position .dropdown-container::before {
	content: "";
	top: 0;
	left: 0;
	right: 0;
	position: absolute;
	width: 100%;
	height: 3rem;
	background: linear-gradient(to bottom, var(--white) 20%, rgba(255, 255, 255, 0) 100%);
	opacity: 0.3;
	pointer-events: none;
}
.dev-position .dropdown-container-inner {
	height: 200px;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	row-gap: 5px;
	border-radius: var(--mdRadius);
}
.dev-position .dropdown-container.active {
	opacity: 1;
	visibility: visible;
	transform: translateY(10px);
}
.dev-position .dropdown-container-inner::-webkit-scrollbar {
	width: 6px;
	border-radius: var(--mdRadius);
}
.dev-position .dropdown-container-inner::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: var(--mdRadius);
}
.dev-position .dropdown-container-inner::-webkit-scrollbar-thumb {
	background: var(--dark-blue);
	border-radius: var(--mdRadius);
	transition: var(--link-button-transition);
}
.dev-position .dropdown-container-inner .role-position {
	color: var(--dark-blue);
	background-color: var(--white);
	border-radius: var(--smRadius);
	padding: 10px;
}
.dev-position .dropdown-container .role-position:hover {
	background-color: var(--dark-blue);
	color: var(--white);
	padding: 12px 10px;
}
.dev-position .dropdown-container .role-position span {
	font-weight: 600;
	font-size: 0.88rem;
}
.dev-position .dropdown-container .role-position:hover span {
	color: var(--white);
	font-size: 0.93rem;
}

.submit-container .run-submission {
	height: 55px;
	width: 100%;
	background: #f2f2f2;
	border-radius: 11px;
	border: 0;
	outline: none;
	color: #ffffff;
	font-size: 1rem;
	font-weight: 700;
	background: linear-gradient(180deg, var(--dark-blue) 0%, var(--dark-blue) 50%, var(--primary-clr) 100%);
	box-shadow: 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px var(--dark-blue);
	transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.submit-container .run-submission:hover {
	box-shadow: 0px 0px 0px 2px #ffffff, 0px 0px 0px 4px var(--dark-blue-opacity);
}
.submit-container .text-container span {
	font-weight: 500;
}

.image-container:has(input[type="file"]) input[type="file"] {
	display: none;
}
.image-container + .little-info {
	transform: translateY(30px);
	transition: var(--link-button-transition);
	opacity: 0;
	visibility: hidden;
}
.image-container + .little-info small {
	font-weight: 600;
	color: var(--dark-blue);
}
.image-container:hover + .little-info {
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
}
/* entrepreneur reviews */
.review-result-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
}
@media all and (max-width: 768px) {
	.review-result-container {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media all and (max-width: 600px) {
	.review-result-container {
		grid-template-columns: 1fr;
	}
}
.each-review-container {
	background-color: var(--white);
	padding: 1rem 0.8rem;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: var(--mdRadius);
}
.each-review-container .r_30djs span {
	font-weight: 500;
	font-size: 0.9rem;
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
	line-clamp: 5;
}
.each-review-container button.delete {
	border: none;
	background-color: transparent;
	border-radius: var(--rounded);
	padding: 4px;
	transition: 300ms ease-in-out;
}
.each-review-container button.delete:hover {
	background-color: var(--dark-blue);
}
.each-review-container button.delete:hover svg {
	color: var(--white);
}
.each-review-container button.delete svg {
	color: var(--dark-blue);
}
.each-review-container .r_na03sof .name {
	font-weight: 600;
	font-size: 0.95rem;
}
.review-container button.submit-review {
	background-color: var(--dark-blue);
	color: var(--white);
	padding: 0.7rem 1.5rem;
	border: none;
	border-radius: var(--smRadius);
	font-size: 0.9rem;
	margin-top: 5px;
}
